@charset "UTF-8";
:root {
    --theme-color1: #C8D09D;
    --theme-color2: #8A7A86;
    --theme-color2-text: #504b4f;
    --theme-color3: #AEB3B9;
    --theme-color4: #CCDFDE;
    --theme-color5: #D9E8E7;
    --theme-color6: #ECEAE7;
    --primary-color: #5499C7;
    --secondary-color: #808B96;
    --success-color: #52BE80;
    --danger-color: #EC7063;
    --warning-color: #F7DC6F;
    --warning-text-color: #9A7D0A;
    --info-color: #AED6F1;
    --info-text-color: #21618C;
    --light-color: #E5E7E9;
    --light-text-color: #979A9A;
    --dark-color: #2E4053;
}

.body-height {
    height: 100vh;
}

/* bootstrap override */

/* button outline */

.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-secondary {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-success {
    border-color: var(--success-color);
    color: var(--success-color);
}

.btn-outline-danger {
    border-color: var(--danger-color);
    color: var(--danger-color);
}

.btn-outline-warning {
    border-color: var(--warning-color);
    color: var(--warning-text-color);
}

.btn-outline-info {
    border-color: var(--info-color);
    color: var(--info-text-color);
}

.btn-outline-light {
    border-color: var(--light-color);
    color: var(--light-text-color);
}

.btn-outline-dark {
    border-color: var(--dark-color);
    color: var(--dark-color);
}

/* button */

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
}

.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: #fff;
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: #fff;
}

.btn-warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
    color: var(--warning-text-color);
}

.btn-info {
    background-color: var(--info-color);
    border-color: var(--info-color);
    color: var(--info-text-color);
}

.btn-light {
    background-color: var(--light-color);
    border-color: var(--light-color);
    color: var(--light-text-color);
}

.btn-dark {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    color: #fff;
}

/* include part css */

header {
    background-color: var(--theme-color5);
    border-bottom: 1px solid var(--theme-color3) !important;
    color: var(--theme-color2);
}

footer {
    background-color: var(--theme-color5);
    border-top: 1px solid var(--theme-color3) !important;
    color: var(--theme-color3);
}

/* common width */

.mw-sm {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.mw-md {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.mw-lg {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.mw-xl {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.mw-xxl {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}