@charset "UTF-8";

.petTypeCancle{
	cursor: pointer;
}

.choice-div{
	display: flex;
	flex-wrap: wrap;
}


.choice-hover:hover{
	background-color: #f2ffff;
}
.choice-hover:hover .change-here{
	font-weight:bolder;
	color:#7d9ffb;
}

.petTypeBox{
	width: 200px;
	background-color: #7d9ffb;
}

.address-input{
	width: 244px;
}
.address-input2{
	width: 500px;
}

.timepicker{
	width: 120px;
}

.scheduleName{
	width: 100%;
}

.close-btn{
	width: 100%;
	height: 50px;
}